<p>
  <%= flash[:error]  %>
  <%= flash[:notice] %>
</p>

<h2> All List </h2>
<p> <%= link_to "New", new_admin_category_path %> </p>
<table>
     <tr>
       <td> Name of Category </td> <td> Parent Category </td>
     </tr> 
  <% @categories.each do |category|   %>
    <tr>
      <td> <%= category.name %> </td>
      <td>       
        <% parent= Category.find_by_id(category.parent_id) %>
        <% unless parent.nil? %>  
          <%= parent.name %>
        <% else %>
          -
        <% end %>   
      </td>
      <td>
      <%= link_to "Edit", edit_admin_category_path(category.id) %>
      </td> 
      <td>
      <%= link_to "Hapus", admin_category_path(category.id), :method => :delete %>
      </td>
    </tr> 
  <% end %>
</tabel>
