
<html>
  <body>
    <h1> Artikel Terkini </h1>
    <table>
      <% @articles.each do |a|   %>
       <tr> 
         <td> <%= a.title %> </td> <td></td> 
         <td> <%= a.body %> </td> 
         <td> <%= a.rating %> </td>
         <td> <%= link_to "Tampil", article_path(a.id) %> </td>
         <td> <%= link_to "Edit", edit_article_path(a.id) %> </td>
         <td> <%= link_to "Hapus", article_path(a.id), confirm: 'Apakah Anda Yakin?', method: :delete %> </td>
        </tr>
      <% end %>
    </table>
    <%= link_to "New", new_article_path %>
  </body>
</html>
